.postHeader{
    max-width:1000px;
}
.headerImg{
    max-width:500px;
    max-height:500px;
}

.postList{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:1000px;
}

.postDetail{
    max-width:200px;
    margin:5px;
    padding:5px;
}

.postImg{
    max-width:150px;
    max-height:150px;
}

