.postHeader{
    max-width:1000px;
}
.headerImg{
    max-width:300px;
}

.postList{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:1000px;
}

.postDetail{
    padding:2px;
    max-width:100px;
}